.home {
	--border-color: #888;
}

.home .day-stats {
	display: flex;
	justify-content: space-around;
	max-width: 420px;
	margin: 0 auto;
}

.home .hourly {
	margin-top: 20px;
	border-top: 1px solid var(--border-color);
	border-bottom: 1px solid var(--border-color);
	overflow-x: scroll;
	display: flex;
	padding: 8px 0;
}

.home .hourly > div {
	min-width: 80px;
}

.home .hourly canvas {
	margin: 5px;
}

.home .hourly h3 {
	margin: 5px;
}